/* ===== CONFIGURACIÓN GENERAL ===== */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P", cursive;

    
    /* CURSOR RETRO */
    cursor: url('https://cur.cursors-4u.net/cursors/cur-2/cur117.cur'), auto;
}

@keyframes neonGrid {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}

/* ===== CONTENEDOR PRINCIPAL ===== */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

/* ===== TÍTULO ===== */
.titulo h1 {
    color: #ffffff;
    font-size: 2.5em;
    margin: 0;
    text-shadow: 0 0 8px #0ff, 0 0 18px #0ff;
}

.titulo p {
    color: #bfffff;
    font-size: 0.8em;
    margin-top: 10px;
    text-shadow: 0 0 6px #0ff;
}

/* ===== NAVEGACIÓN ===== */
.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

/* ===== BOTONES RETRO ===== */
.nav a {
    text-decoration: none;
    background-color: rgba(255,255,255,0.9);
    color: #003b46;
    padding: 14px 35px;
    border-radius: 10px;
    border: 2px solid #00eaff;
    transition: all 0.3s ease;
    width: 270px;
    text-align: center;

    box-shadow: 0 0 10px #00eaff;
}

.nav a:hover {
    background-color: #003b46;
    color: #00eaff;
    box-shadow: 0 0 18px #00eaff, 0 0 25px #00eaff;
    transform: scale(1.08);
}


body {
  margin: 0;
  overflow: hidden;
  background: #000;
}


/* Grid inferior */
.retro-grid-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50vh;

  background:
    linear-gradient(#ff0088 2px, transparent 2px) 0 0 / 60px 60px,
    linear-gradient(90deg, #ff0088 2px, transparent 2px) 0 0 / 60px 60px;

  transform: perspective(400px) rotateX(60deg);
  transform-origin: bottom;
  opacity: 0.9;
}

/* Grid superior */
.retro-grid-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50vh;

  background:
    linear-gradient(#ff0088 2px, transparent 2px) 0 0 / 60px 60px,
    linear-gradient(90deg, #ff0088 2px, transparent 2px) 0 0 / 60px 60px;

  transform: perspective(400px) rotateX(-60deg);
  transform-origin: top;
  opacity: 0.9;
}